.top{
	width:100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	top:0;
	background: #c45b96;
}
.top svg{
	width: 1.5rem;
	height: 1.5rem;
	margin: 1rem;
}
.top h2{
	color: #FFFFFF;
}
.imgt img{
	width: 20rem;
	height: 20rem;
	padding: 5rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-radius:50% ;
}
.imgt{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-flow: row;
	flex-flow: wrap;
}